<div class="custom-form-card">
    <form class="custom-form-grid md:grid-cols-12">

        <div class="custom-form-title md:col-span-12">
            <h4>Registro de Asignatura</h4>
        </div>

        <div class="custom-form-field md:col-span-2">
            <label
                appLabel
                for="isEnabled"
                label="Activo"
                [field]="isEnabledField">
            </label>
            <p-toggleswitch id="isEnabled" [formField]="isEnabledField"></p-toggleswitch>
            <small [appErrorMessage]="$any(isEnabledField)"></small>
        </div>

        <div class="custom-form-field md:col-span-2">
            <label
                appLabel
                for="isVisible"
                label="Visible"
                [field]="isVisibleField">
            </label>
            <p-toggleswitch id="isVisible" [formField]="isVisibleField"></p-toggleswitch>
            <small [appErrorMessage]="$any(isVisibleField)"></small>
        </div>

        <div class="custom-form-field md:col-span-4">
            <label
                appLabel
                for="academicPeriod"
                label="Periodo académico"
                [field]="academicPeriodField">
            </label>
            <p-select
                id="academicPeriod"
                dataKey="id"
                [formField]="$any(academicPeriodField)"
                [options]="academicPeriods()"
                optionLabel="name"
                placeholder="Seleccione">
            </p-select>
            <small [appErrorMessage]="$any(academicPeriodField)"></small>
        </div>

        <div class="custom-form-field md:col-span-4">
            <label
                appLabel
                for="type"
                label="Tipo"
                [field]="typeField">
            </label>
            <p-select
                id="type"
                dataKey="id"
                [formField]="$any(typeField)"
                [options]="types()"
                optionLabel="name"
                placeholder="Seleccione">
            </p-select>
            <small [appErrorMessage]="$any(typeField)"></small>
        </div>

        <div class="custom-form-field md:col-span-4">
            <label
                appLabel
                for="code"
                label="Código"
                [field]="codeField">
            </label>
            <input pInputText id="code" [formField]="codeField">
            <small [appErrorMessage]="$any(codeField)"></small>
        </div>

        <div class="custom-form-field md:col-span-8">
            <label
                appLabel
                for="name"
                label="Nombre"
                [field]="nameField">
            </label>
            <input pInputText id="name" [formField]="nameField">
            <small [appErrorMessage]="$any(nameField)"></small>
        </div>

        <div class="custom-form-field md:col-span-3">
            <label
                appLabel
                for="credits"
                label="Créditos"
                [field]="creditsField">
            </label>
            <p-inputnumber id="credits" [formField]="$any(creditsField)" [max]="1000" [showButtons]="true"></p-inputnumber>
            <small [appErrorMessage]="$any(creditsField)"></small>
        </div>

        <div class="custom-form-field md:col-span-3">
            <label
                appLabel
                for="teacherHour"
                label="Horas docente"
                [field]="teacherHourField">
            </label>
            <p-inputnumber id="teacherHour" [formField]="$any(teacherHourField)" [max]="1000" [showButtons]="true"></p-inputnumber>
            <small [appErrorMessage]="$any(teacherHourField)"></small>
        </div>

        <div class="custom-form-field md:col-span-3">
            <label
                appLabel
                for="practicalHour"
                label="Horas prácticas"
                [field]="practicalHourField">
            </label>
            <p-inputnumber id="practicalHour" [formField]="$any(practicalHourField)" [max]="1000" [showButtons]="true"></p-inputnumber>
            <small [appErrorMessage]="$any(practicalHourField)"></small>
        </div>

        <div class="custom-form-field md:col-span-3">
            <label
                appLabel
                for="autonomousHour"
                label="Horas autónomas"
                [field]="autonomousHourField">
            </label>
            <p-inputnumber id="autonomousHour" [formField]="$any(autonomousHourField)" [max]="1000" [showButtons]="true"></p-inputnumber>
            <small [appErrorMessage]="$any(autonomousHourField)"></small>
        </div>

        <div class="custom-form-field md:col-span-6">
            <label
                appLabel
                for="subjectPrerequisites"
                label="Prerequisitos"
                [field]="subjectPrerequisitesField">
            </label>
            <p-multiselect
                id="subjectPrerequisites"
                dataKey="id"
                [formField]="subjectPrerequisitesField"
                [options]="subjectsPrerequisites()"
                display="chip"
                optionLabel="name"
                placeholder="Seleccione...">
            </p-multiselect>
            <small [appErrorMessage]="$any(subjectPrerequisitesField)"></small>
        </div>

        <div class="custom-form-field md:col-span-6">
            <label
                appLabel
                for="subjectCorequisites"
                label="Corequisitos"
                [field]="subjectCorequisitesField">
            </label>
            <p-multiselect
                id="subjectCorequisites"
                dataKey="id"
                [formField]="subjectCorequisitesField"
                [options]="subjectsCorequisites()"
                display="chip"
                optionLabel="name"
                placeholder="Seleccione...">
            </p-multiselect>
            <small [appErrorMessage]="$any(subjectCorequisitesField)"></small>
        </div>

    </form>
</div>

<div class="custom-form-card">
    <div class="custom-form-grid md:grid-cols-12">
        <div class="custom-form-field md:col-span-6 md:col-start-4">
            <p-button
                label="Guardar"
                icon="pi pi-save"
                styleClass="w-full"
                (click)="onSubmit()">
            </p-button>
        </div>
    </div>
</div>