<div class="custom-form-card">
    <form class="custom-form-grid md:grid-cols-12">

        <div class="custom-form-section md:col-span-12">
            <h4>Registro de Institución</h4>
       </div>

        <div class="custom-form-field md:col-span-6">
            <label
                appLabel
                for="name"
                label="Nombre"
                [field]="formData.name">
           </label>

            <input pInputText id="name" [formField]="formData.name">

            <small [appErrorMessage]="$any(formData.name)"></small>
       </div>

        <div class="custom-form-field md:col-span-6">
            <label
                appLabel
                for="denomination"
                label="Denominación"
                [field]="formData.denomination">
           </label>

            <input pInputText id="denomination" [formField]="formData.denomination">

            <small [appErrorMessage]="$any(formData.denomination)"></small>
       </div>

        <div class="custom-form-field md:col-span-6">
            <label
                appLabel
                for="shortName"
                label="Nombre Corto"
                [field]="formData.shortName">
            </label>

            <input pInputText id="shortName" [formField]="formData.shortName">

            <small [appErrorMessage]="$any(formData.shortName)"></small>
       </div>

        <div class="custom-form-field md:col-span-6">
            <label
                appLabel
                for="cellphone"
                label="Celular"
                [field]="formData.cellphone">
           </label>

            <input pInputText id="cellphone" [formField]="formData.cellphone">

            <small [appErrorMessage]="$any(formData.cellphone)"></small>
       </div>

        <div class="custom-form-field md:col-span-6">
            <label
                appLabel
                for="phone"
                label="Teléfono"
                [field]="formData.phone">
           </label>

            <input pInputText id="phone" [formField]="formData.phone">

            <small [appErrorMessage]="$any(formData.phone)"></small>
       </div>

        <div class="custom-form-field md:col-span-6">
            <label
                appLabel
                for="email"
                label="Email"
                [field]="formData.email">
           </label>

            <input pInputText id="email" [formField]="formData.email">

            <small [appErrorMessage]="$any(formData.email)"></small>
       </div>

        <div class="custom-form-field md:col-span-6">
            <label
                appLabel
                for="web"
                label="Web"
                [field]="formData.web">
           </label>

            <input pInputText id="web" [formField]="formData.web">

            <small [appErrorMessage]="$any(formData.web)"></small>
       </div>

        <div class="custom-form-field md:col-span-6">
            <label
                appLabel
                for="code"
                label="Código"
                [field]="formData.code">
           </label>

            <input pInputText id="code" [formField]="formData.code">

            <small [appErrorMessage]="$any(formData.code)"></small>
       </div>

        <div class="custom-form-field md:col-span-6">
            <label
                appLabel
                for="codeSniese"
                label="Código SNIESE"
                [field]="formData.codeSniese">
           </label>

            <input pInputText id="codeSniese" [formField]="formData.codeSniese">

            <small [appErrorMessage]="$any(formData.codeSniese)"></small>
       </div>

        <div class="custom-form-field md:col-span-6">
            <label
                appLabel
                for="acronym"
                label="Siglas"
                [field]="formData.acronym">
           </label>

            <input pInputText id="acronym" [formField]="formData.acronym">

            <small [appErrorMessage]="$any(formData.acronym)"></small>
       </div>

        <div class="custom-form-field md:col-span-6">
            <label
                appLabel
                for="slogan"
                label="Slogan"
                [field]="formData.slogan">
           </label>

            <input pInputText id="slogan" [formField]="formData.slogan">

            <small [appErrorMessage]="$any(formData.slogan)"></small>
       </div>

   </form>
</div>
